<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <link rel="icon"
    type="image/png"
    href="/images/favicon.png" />
				
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>SimplePay Blog : {{ page.title }}</title>
   <meta name="author" content="Orange Thunder Technologies CC" />
   <link href="http://feeds.feedburner.com/simplepay" rel="alternate" title="RSS" type="application/rss+xml" />
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/text.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/pygment_trac.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="container_12">
    <div id="links" class="grid_2">
      <a href="/about.html">about</a>
      <a href="mailto:info@simplepay.co.za">email</a>
      <a href="http://feeds.feedburner.com/simplepay">rss</a>
      <a href="http://twitter.com/simplepay">twitter</a>
      <a href="http://www.simplepay.co.za">simplepay online payroll system</a>
    </div>
    <div id="main" class="grid_8">
		  <div style="width: 100%; text-align: center; margin-top: 20px;">
			  <a href="/">
				  <img src="/images/logo3.png"/>
				</a>
			</div>
      <div id="subtitle">Online Payroll Software that Just Works</div>
      <hr />
      {{ content }}
      <hr />
      <div id="footer">
				Copyright 2009 Orange Thunder Technologies CC
      </div>
    </div>
    <div id="categories" class="grid_2">
      <a href="/simplepay.html">simplepay ({{ site.categories.simplepay | size }})</a>
    </div>
  </div>


  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-3724535-6");
  pageTracker._trackPageview();
  } catch(err) {}</script>


</body>
</html>
